#Eclipse
.metadata
.settings
.project*
.classpath
HELP.md

#Java
#https://labs.consol.de/development/git/2017/02/22/gitignore.html
target/
target
/target
/target/
*.class


#Maven
mvn/
mvn
/mvn
/mvn/
.mvn
mvnw
mvnw.cmd

#Visual Studio Code
.editorconfig
.vscode
node_modules/
node_modules
/node_modules
/node_modules/
.bin/